@model  KeepFit.Web.Models.Profile.ProgressPhotoModel


@foreach (var x in Model.ProgressPhotos)
{
    <div class="3u">
        <img src="data:image/png;base64,@x.Photo" width="100" height="100" />
    </div>
}