<div class="3u">

    <!-- Box -->
    <section class="box box-feature">
        <div class="inner inner-profile">
            <header>
                <h2>Progress Photo</h2>
                <span class="byline"></span>
            </header>
            <p>
                @Html.ActionLink("Manage Progress Photos", "ProgressPhotos", "Profile")
            </p>
        </div>
    </section>

</div>
<div class="3u">

    <!-- Box -->
    <section class="box box-feature">
        <div class="inner inner-profile">
            <header>
                <h2>Workout</h2>
                <span class="byline"></span>
            </header>
            <p>
                @Html.ActionLink("View Workouts", "Index", "Workout")
            </p>
        </div>
    </section>

</div>
<div class="3u">

    <!-- Box -->
    <section class="box box-feature last">
        <div class="inner inner-profile">
            <header>
                <h2>Weight & Body Fat</h2>
                <span class="byline"></span>
            </header>
            <p>
                @Html.ActionLink("Manage Body Weight", "BodyWeight", "Profile")
            </p>
        </div>
    </section>

</div>
<div class="3u">

    <!-- Box -->
    <section class="box box-feature last">
        <div class="inner inner-profile">
            <header>
                <h2>Nutrition</h2>
                <span class="byline"></span>
            </header>
            <p>
                <a href="#">Track</a>
            </p>
        </div>
    </section>

</div>