h1
{
	font-size: 16px;
}

#content
{
	text-align: center;
}

#map_canvas
{ 
	width: 800px; 
	height: 500px;
	margin: 10px auto;
}

div#latlng-control 
{
	background: #ffc;
	border: 1px solid #676767;
	padding: 2px 4px;
	position: absolute;
}

.line
{
	padding: 3px;
}
