@model KeepFit.Web.Models.ExcercisesModel
@{

    Layout = "~/Views/Shared/_LayoutWorkout.cshtml";
}

@section MainWorkout
{
    <!-- Content -->
    <div id="content">
        @Html.Partial("_Excercises", Model.Excercises)
    </div>
}

@section WorkoutSidebar
{
    @Html.Partial("_ExcercisesCategory", Model.ExcerciseCategories)
}