@model KeepFit.Core.Dto.BodyCompositionDto

@using (Html.BeginForm("AddBodyComposition", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Weight, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Weight)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" value="Добавить" class="btn btn-default" />
        </div>
    </div>
}