<div id="banner-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Banner -->
                <div id="banner" class="box">

                    <div>
                        <div class="row">
                            <div class="7u">
                                <h2>Keep Fit</h2>
                                <p>It's free</p>
                            </div>
                            <div class="5u">
                                <ul>
                                    <li>
                                        @Html.ActionLink("Try it now", "Login", "Account", null, new { @class = "button big fa fa-arrow-circle-right" })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
