@model IEnumerable<KeepFit.Core.Models.BodyComposition>


@*@foreach (var bodyComposition in Model)
{
    <div>
        @Html.LabelForModel(bodyComposition.Height)
        <p>
            @bodyComposition.Height
        </p>
        @Html.LabelForModel(bodyComposition.Weight)
        <p>
            @bodyComposition.Weight
        </p>
    </div>
}*@



<div id="container" style="width: 1000px; height: 400px; margin: 0 auto"></div>