@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section RightSideBar{
    <div class="col-md-8">
        @RenderBody()

        @RenderSection("MainNutrition", true)
    </div>
    <div class="col-md-4">

        @RenderSection("NutritionSidebar", true)
    </div>
}
@section scripts
{
    @RenderSection("NutritionScripts", false)
    <script>
        $(function () {
            $('body').addClass("right-sidebar");
        });
    </script>
}
