<script id="bodyStatsTmpl" type="text/x-jquery-tmpl">
    <div>
        Please Enter your Daily Body Statistic
    </div>
    <div>
        <div>
            Age:
        </div>
        <div>
            ${console.log(this)}
        </div>
    </div>
</script>
