<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <!-- Header -->
                <header id="header">
                    <!-- Logo -->
                    <div id="logo">
                        <h1><a href="#" id="logo">Verti</a></h1>
                        <span>A responsive site template by HTML5 UP</span>
                    </div>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li class="home"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="body"><a href="@Url.Action("Index", "Body")">Body Stats</a></li>
                            <li><a href="@Url.Action("Index", "Gym")">Gyms</a></li>
                            <li><a href="@Url.Action("Index", "Products")">Products</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>
