<div class="sliding-panel">
    @{
        Html.RenderAction("CaloriesCalculation","Home");
    }
</div>
@{
    var bmr = ViewBag.Bmr ?? "Расчёт калорийности";
}
<button class="button trigger">@bmr</button>