<div id="todo">
</div>
<script type="text/template" id="item-template">
    <div>
        <input id="todo_complete" type="checkbox"><%completed ? 'checked="checked"' : ''%>>
        <%- title %>
    </div>
</script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/underscore.js"></script>
<script src="~/Scripts/backbone.js"></script>
<script src="~/Scripts/Backbone/demo.js"></script>
